*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/NetBeans/ProyectoAD/nbproject/private/
/NetBeans/ProyectoAD/build/
/NetBeans/ServidorGUI/nbproject/private/
/NetBeans/ServidorGUI/build/
/NetBeans/ServidorFTPHilos/nbproject/private/
/NetBeans/ServidorFTPHilos/build/
.DS_Store
